.header {
  display: flex;
  width: 100%;
  height: 100px;
  background: #FFFFFF;
}

.header__inner {
  display: flex;
  margin: 0 auto;
}

hr {
  margin: 40px auto 0px auto;
  height: 1px;
  color: #E0DFDE;
  background-color: #E0DFDE;
}

.header-utilities {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
 width: 504px;
 height: 100px;
 background-color: white;
}

.header__logo {
  text-align: center;
  vertical-align: middle;
  color: #8B7969;
  font-family: Inika;
  text-decoration: none;
  font-weight: Regular;
  font-size: 40px;


}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  vertical-align: middle;
width: 500px;
height: 100px;

}
.header-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100px;
  height: 34px;
  background-color: #F0F0F0;
}
.header-nav__link {
  text-align: center;
  color: #D9C6B5;
  text-decoration: none;
}

.header-nav__button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
