.confirm__content {


    margin: 0 auto;
    padding: 0px 15px;
}

.confirm__heading {

    font-family: Inika;
    font-size: 35px;
    color: #8B7969;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
    text-align: left;
}

.confirm-table__header {
    padding: 15px;
    width: 305px;
    border-bottom: 1px solid #ddd;
    background-color: #BAA899;

    font-family: Inika;
    font-size: 20px;
    color: #ffffff;
}

.confirm-table__text {
    width: 600px;

    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.confirm-table__text input {
    width: 100%;

    font-family: Inika;
    font-size: 20px;
    color: #8B7969;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit-store {
    width: 120px;
    height: 42px;
    border: none;
    background: #82756A;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}
.form__button-submit-text {
    display: inline-block;
    padding-bottom: 4px;
    font-family: Inika;
    font-size: 20px;
}

.form__button-submit-modify {
    width: 120px;
    height: 42px;
    border: none;
    background: #ffffff;
    color: #8B7969;
    cursor: pointer;
}

.form__button-submit-modify span {
    text-decoration: underline;
}

